.body_area{
	background-color:hsl(0, 0%, 71%);

}
h1{
	text-align: center;

}


.image{
	width: 30%;
	padding-left: 75%;
	overflow: hidden;
	padding: 30px padding-left:75%;
}
.head_area{
	
		width: 60%;
	margin: 0 auto;


	
}